<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header id="heading">Todo App</header>
    <div class="container" >
        <div class="descripton">
           <form action="" method="post">
            <label for="Descripton">Descripton</label>
            <input type="text" name="task" placeholder="What do you need to do ?" required>
            <label for="">Category</label>
            <select name="category" required>
                <option value="personal">Personal</option>
                <option value="Work">Work</option>
                <option value="School">School</option>
                <option value="Cleaning">Cleaning</option>
                <option value="other">Other</option>
            </select>
            <label for="date">Due Date</label>
            <input type="date" name="date" required>
            <button type="submit"> + Add</button>
            <button type="submit"> - Delete</button>
           </form>
        </div>
    </div>
  </body>
</html>
