

body{
    margin: 0;
}

#heading{
    margin-top: 24px;
    text-align: center;
    color: lightslategray;
    font-size: 32px;
    font-family: 'MonteCarlo', cursive;
    font-weight: bold;
}

.container{
    margin-top: 16px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.descripton{
    margin-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.description-input{
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-bottom: 1px solid lightgray;
    padding: 16px;
}
.description-input input{
    display: flex;
    margin-top: 8px;
    border: none;
    color: lightgray;
}
.description-input input:focus{
    outline: none;
}



