body{
    margin: 0;
}

#heading{
    margin-top: 24px;
    text-align: center;
    color: lightslategray;
    font-size: 32px;
    font-family: 'MonteCarlo', cursive;
    font-weight: bold;
}

.descripton{
    margin-top: 16px;
    border: 1px solid lightgray;
    padding: 24px;
}





